In [285]:
import pandas as pd
df=pd.read_csv('/content/Int_csv.csv') 

df

  Name          timedate  fever
0    X  02-11-2022 20:00    101
1    X  02-11-2022 10:00     98
2    Y  02-11-2022 09:00    100
3    X  02-11-2022 19:00     99
4    Y  02-11-2022 15:00     96
5    Z  02-11-2022 11:00     98
6    Z  02-11-2022 19:00     95
7    Y  02-11-2022 14:00     99
8    Z  02-11-2022 16:00    102

In [286]:
list(df.columns)

['Name', 'timedate', 'fever']

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      9 non-null      object
 1   timedate  9 non-null      object
 2   fever     9 non-null      int64
dtypes: int64(1), object(2)
memory usage: 344.0+ bytes

In [288]:
#df[df.Name=='X']
#df.loc[df['Name'] == 'X']    #these both commands are same
#df.describe()

In [289]:
gk=df.groupby('Name')
gk.first()  #prints the first value in each group

              timedate  fever
Name
X     02-11-2022 20:00    101
Y     02-11-2022 09:00    100
Z     02-11-2022 11:00     98

In [290]:
#write the dataframe to a new table in the databse
#table_name = 'pdtosql'
#df.to_sql(table_name,con=conn,if_exists='replace',index=False)

In [291]:
# converting string object into datetime object
from datetime import datetime
df['timedate'] = pd.to_datetime(df['timedate'],format='%d-%m-%Y %H:%M')
df

  Name            timedate  fever
0    X 2022-11-02 20:00:00    101
1    X 2022-11-02 10:00:00     98
2    Y 2022-11-02 09:00:00    100
3    X 2022-11-02 19:00:00     99
4    Y 2022-11-02 15:00:00     96
5    Z 2022-11-02 11:00:00     98
6    Z 2022-11-02 19:00:00     95
7    Y 2022-11-02 14:00:00     99
8    Z 2022-11-02 16:00:00    102

In [292]:
#df.info()
df1=df.groupby('Name')
df1.first()

                timedate  fever
Name
X    2022-11-02 20:00:00    101
Y    2022-11-02 09:00:00    100
Z    2022-11-02 11:00:00     98

In [293]:
df.sort_values('timedate').reset_index(drop=True)  #ascending = True is by default

  Name            timedate  fever
0    Y 2022-11-02 09:00:00    100
1    X 2022-11-02 10:00:00     98
2    Z 2022-11-02 11:00:00     98
3    Y 2022-11-02 14:00:00     99
4    Y 2022-11-02 15:00:00     96
5    Z 2022-11-02 16:00:00    102
6    X 2022-11-02 19:00:00     99
7    Z 2022-11-02 19:00:00     95
8    X 2022-11-02 20:00:00    101

In [294]:
df['rank']=df.sort_values('fever',ascending=False).groupby('Name').cumcount() + 1
df

  Name            timedate  fever  rank
0    X 2022-11-02 20:00:00    101     1
1    X 2022-11-02 10:00:00     98     3
2    Y 2022-11-02 09:00:00    100     1
3    X 2022-11-02 19:00:00     99     2
4    Y 2022-11-02 15:00:00     96     3
5    Z 2022-11-02 11:00:00     98     2
6    Z 2022-11-02 19:00:00     95     3
7    Y 2022-11-02 14:00:00     99     2
8    Z 2022-11-02 16:00:00    102     1

In [295]:
df1=df.loc[df['rank'] == 1].reset_index(drop=True)
df1=df1.drop(['rank'],axis=1) 
df1

  Name            timedate  fever
0    X 2022-11-02 20:00:00    101
1    Y 2022-11-02 09:00:00    100
2    Z 2022-11-02 16:00:00    102

In [296]:
df['rn']=df.sort_values(['timedate','Name'],ascending=[False,True]).groupby(['Name']).cumcount()+1
## groupby.cumcount() is used to add a sequential counter column on groups and +1 is used if we want orderings starting at 1.


dfN=df[df.rn==1]
dfN=dfN.drop(['rn'],axis=1)
# Make Own Index as index
# In this case default index still exist 
#dfN.reset_index(inplace = True)
#dfN

# replacing own index with default index
dfN.reset_index(drop=True,inplace=True)
dfN

  Name            timedate  fever  rank
0    X 2022-11-02 20:00:00    101     1
1    Y 2022-11-02 15:00:00     96     3
2    Z 2022-11-02 19:00:00     95     3